<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912633076119-2l95phl98uu3uldjdp7vlavf1ch1q303.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912633076119-2l95phl98uu3uldjdp7vlavf1ch1q303</string>
	<key>API_KEY</key>
	<string>AIzaSyChTwi1OORHix3nex7bJGsyhat8z9TuK84</string>
	<key>GCM_SENDER_ID</key>
	<string>912633076119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>afras.wellnessshiftrn.ios</string>
	<key>PROJECT_ID</key>
	<string>wellnessshift-rn-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wellnessshift-rn-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912633076119:ios:e7703f7ed0a5434fb20cd2</string>
</dict>
</plist>